{# atInc가 하는 일 / 하지 않는 일 #}
{% from 'macros.html' import shd %}
<section class="sec hsec hdo"><div class="wrap">
<div class="hdo__head">{{ shd(s.label, s.title) }}<p class="hdo__lead">{{ s.lead }}</p></div>
<div class="hdo__grid"><div class="hdo__col"><h3 class="hdo__t">{{ s.do_title }}</h3><ul class="hdo__do">{% for x in s.do %}<li><b>{{ x.k }}</b><span>{{ x.d }}</span></li>{% endfor %}</ul></div>
<div class="hdo__col hdo__col--dark"><h3 class="hdo__t">{{ s.dont_title }}</h3><ul class="hdo__dont">{% for x in s.dont %}<li><span>{{ x }}</span></li>{% endfor %}</ul>
{% if s.note %}<p class="hdo__reg">{{ s.note }}</p>{% endif %}</div></div></div></section>
