{# 홈 '전국 협력 의료기관' (지도 + 지역 목록) #}
{% from 'macros.html' import shd, with_regions %}
<section class="sec hsec net2" data-net><div class="wrap net2__grid"><div class="net2__txt">{{ shd(s.label, s.title, None, 'h2', P) }}
<p class="net2__d"{{ A(P ~ '.text', 'regions') }}>{{ with_regions(s.text) }}</p>
<p class="net-empty" hidden>{{ s.empty }}</p><div class="atnet-list" data-variant="compact"></div>
<p><a class="link" href="{{ s.link.href }}"{{ A(P ~ '.link.label') }}>{{ s.link.label }}</a></p></div>
<div class="map mapcard"><div class="atmap" data-uid="home"></div><p class="atmap__note"><em{{ A(P ~ '.map_note_en') }}>{{ s.map_note_en }}</em><span{{ A(P ~ '.map_note') }}>{{ s.map_note }}</span></p></div></div></section>
